# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build files
build/

# System-specific files
.DS_Store
Thumbs.db
*.swp
*.tmp
*.bak

# IDE/editor folders
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
